<h4><a href="/">Home</a></h4>

<h1>Add A new Ranger</h1>

<form action="/ranger/new" method="post">
  <label>Uhhh What's your name again..?</label>
  <input type="text" name="name">

  <button type="submit">You're Hired!</button>
</form>
